<html>

<head>
    <title>AL-INK</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    
    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/bootstrap.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/main.css')}}" media="screen">
    <script src="{{ my_url_for(request, 'static', path='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/jquery.easing.min.js')}}"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<script type="text/javascript">

    // user state 
    // ID
    var user_name = "test name";
    var user_email = "test@test.com";
    var org = "org";
    var auth_level = 1;


    deviceList = [];
    var intervalObject = null;

    function getStateColor(error) {
        if (error != 0) {
            return "🔴";
        } else {
            return "🟢";
        }
    }

    function getCleanStateColor(base, current) {
        if (base > current) {
            return "🟠";
        } else {
            return "🟢";
        }
    }


    var chartDateArray = [];
    var lineChartV;
    var lineChartA;

    function chartInit() {
        var ctx = document.getElementById('chart_v');
        lineChartV = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'CH1',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH2',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH3',
                    data: [],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        align: 'start'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return chartDateArray[context.dataIndex];
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        display: false // x축 라벨 비활성화
                    }
                }
            }
        });

        var ctx = document.getElementById('chart_a');
        lineChartA = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'CH1',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH2',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH3',
                    data: [],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        align: 'start'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return chartDateArray[context.dataIndex];
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        display: false // x축 라벨 비활성화
                    }
                }
            }
        });
    }

    function drawLineChart(chart, array1, array2, array3) {
        //console.log(lineChartV1);
        chart.data.labels = array1;
        chart.data.datasets[0].data = array1;
        chart.data.datasets[1].data = array2;
        chart.data.datasets[2].data = array3;
        
        chart.update();
    }


    function makeDeviceCell(device) {
        var cell = 
        `<tr>
            <td rowspan='3'><div><div>${device.name}</div><button style="margin-top:10px" id="graph_button_${device.id}" type="submit" class="btn btn-primary">그래프 보기</button></div></td>
            <td id="${device.id}_1_state">🟢</td>
            <td>CH1</td>
            <td id="${device.id}_1_v"></td>
            <td id="${device.id}_1_a">mA</td>
            <td><input type="number" name="edittext" id="${device.id}_1_ba" value="${device.alert_a_rate1}"> mA</td>
            <!-- <td id="${device.id}_1_a"></td> -->
            <td id="${device.id}_1_clean_state">🟢</td>
            <td rowspan='3'></td>
            <td rowspan='3'></td>
            <td rowspan='3'></td>
            <td rowspan='3'>
                <!-- <div>
                    <button id="v_button_${device.id}" type="submit" class="btn btn-primary">기준전류 셋팅</button>
                </div> -->
                <div>
                    <button id="a_button_${device.id}" type="submit" class="btn btn-primary">기준전류 셋팅</button>
                </div>
            
            </td>
        </tr>
        <tr>
            <td id="${device.id}_2_state">🟢</td>
            <td>CH2</td>
            <td id="${device.id}_2_v"></td>
            <td id="${device.id}_2_a">mA</td>
            <td><input type="number" name="edittext" id="${device.id}_2_ba" value="${device.alert_a_rate2}"> mA</td>
            <!-- <td id="${device.id}_2_a"></td> -->
            <td id="${device.id}_2_clean_state">🟢</td>
            
        </tr>
        <tr>
            <td id="${device.id}_3_state">🟢</td>
            <td>CH3</td>
            <td id="${device.id}_3_v"></td>
            <td id="${device.id}_3_a">mA</td>
            <td><input type="number" name="edittext" id="${device.id}_3_ba" value="${device.alert_a_rate3}"> mA</td>
            <!-- <td id="${device.id}_3_a"></td> -->
            <td id="${device.id}_3_clean_state">🟢</td>
            
        </tr>`

        $("#table").append(cell);

        $("#a_button_" + device.id).click( function() {    
            var baseA1 = $("#" + device.id + "_1_ba").val();
            var baseA2 = $("#" + device.id + "_2_ba").val();
            var baseA3 = $("#" + device.id + "_3_ba").val();

            const data = { 
                alert_a_rate1 : baseA1,
                alert_a_rate2 : baseA2,
                alert_a_rate3 : baseA3
            };

            var url = '/api/v1/device_update/' + device.id;
            fetch(url,{
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(data => {
                for (var i = 0;i<deviceList.length;i++) {
                    if(deviceList[i].id == device.id) {
                        deviceList[i].alert_a_rate1 = baseA1;
                        deviceList[i].alert_a_rate2 = baseA2;
                        deviceList[i].alert_a_rate3 = baseA3;
                    }
                }
                console.log(data);

                $("#" + data.id + "_1_clean_state").text(getCleanStateColor(data.alert_a_rate1, Number($("#" + device.id + "_1_a").text().split("mA")[0])));
                $("#" + data.id + "_2_clean_state").text(getCleanStateColor(data.alert_a_rate2, Number($("#" + device.id + "_2_a").text().split("mA")[0])));
                $("#" + data.id + "_3_clean_state").text(getCleanStateColor(data.alert_a_rate3, Number($("#" + device.id + "_3_a").text().split("mA")[0])));
                
            }).catch(error => {
                console.log(error);
            });
        });

        $("#graph_button_" + device.id).click( function() {
            const drawer = $('#drawer');
            drawer.toggleClass('open');
            drawer.toggleClass('closed'); 
            
            if(drawer.hasClass('open')) {
                var url = '/api/v1/chart/' + device.id;

                fetch(url).then(response => {
                    if (!response.ok) {
                      throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).then(data => {
                    var list = data;
                    var v1Array = [];
                    var v2Array = [];
                    var v3Array = [];

                    var a1Array = [];
                    var a2Array = [];
                    var a3Array = [];

                    chartDateArray = [];
                    
                    for (var i = 0; i<list.length;i++) {
                        v1Array.unshift(list[i].v1 != null ? list[i].v1 : 0);
                        v2Array.unshift(list[i].v2 != null ? list[i].v2 : 0);
                        v3Array.unshift(list[i].v3 != null ? list[i].v3 : 0);

                        a1Array.unshift(list[i].a1 != null ? list[i].a1 : 0);
                        a2Array.unshift(list[i].a2 != null ? list[i].a2 : 0);
                        a3Array.unshift(list[i].a3 != null ? list[i].a3 : 0);

                        chartDateArray.unshift(list[i].timestamp != null ? list[i].timestamp : 0);
                    }

                    drawLineChart(lineChartV, v1Array,v2Array,v3Array);
                    drawLineChart(lineChartA, a1Array,a2Array,a3Array);
                    
                }).catch(error => {
                    console.log(error);
                });
            }
        });

        
    }

    function updateData() {
        for(const device of deviceList) { 
            var url = '/api/v1/update_data/' + device.id;

            fetch(url).then(response => {
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                return response.json();
              }).then(data => {
                if(data == null) return;
                var id = data.did;
                
                $("#" + id + "_1_v").text(data.v1/1000 + "kV");
                $("#" + id + "_2_v").text(data.v2/1000 + "kV");
                $("#" + id + "_3_v").text(data.v3/1000 + "kV");

                $("#" + id + "_1_a").text(data.c1/1000 + "mA");
                $("#" + id + "_2_a").text(data.c2/1000 + "mA");
                $("#" + id + "_3_a").text(data.c3/1000 + "mA");

                console.log(data.e1 + " " +data.e2+ " " +data.e3);
                $("#" + id + "_1_state").text(getStateColor(data.e1));
                $("#" + id + "_2_state").text(getStateColor(data.e2));
                $("#" + id + "_3_state").text(getStateColor(data.e3));

                //console.log(device.alert_v_rate1 + " " + data.value.v1/1000);
                $("#" + id + "_1_clean_state").text(getCleanStateColor(device.alert_a_rate1, data.c1/1000));
                $("#" + id + "_2_clean_state").text(getCleanStateColor(device.alert_a_rate2, data.c2/1000));
                $("#" + id + "_3_clean_state").text(getCleanStateColor(device.alert_a_rate3, data.c3/1000));
              }).catch(error => {
                console.log(error);
              });
        }
    }

    // popup function
    function showPlaceRegisterPopup() {
        document.getElementById("place_popup").style.display = "block";
    }
    function hidePlaceRegisterPopup() {
        document.getElementById("place_popup").style.display = "none";
    }

    function sendPlaceData() {
        var name = document.getElementById("place_name").value;
        var url = '/api/v1/add_place';

        fetch(url,{
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name: name
            }),
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            alert("장소등록 했습니다.");
        }).catch(error => {
            console.log(error);
        });

        hidePlaceRegisterPopup(); // 팝업 닫기
    }


    function showDeviceRegisterPopup() {
        var url = '/api/v1/place_list';

        fetch(url).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            $("#device_place").html("");
            for( var i = 0;i< data.length; i++) {
                $("#device_place").append('<option value="'+ data[i].id +'">' + data[i].name + '</option>')
            }
            console.log(data);
        }).catch(error => {
            console.log(error);
        });
        document.getElementById("device_popup").style.display = "block";
    }
    function hideDeviceRegisterPopup() {
        document.getElementById("device_popup").style.display = "none";
    }

    function sendDeviceData() {
        var id = document.getElementById("device_id").value;
        var name = document.getElementById("device_name").value;
        // var a1 = document.getElementById("device_a1_rate").value;
        // var a2 = document.getElementById("device_a2_rate").value;
        // var a3 = document.getElementById("device_a3_rate").value;
        //var floor = document.getElementById("device_floor").value;
        //var number = document.getElementById("device_number").value;
        var placeId = $("#device_place option:selected").val();
        
        var url = '/api/v1/add_device';
        
        fetch(url,{
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                id : id,
                name: name,
                status : 'Active',
                // alert_a_rate1 : a1,
                // alert_a_rate2 : a2,
                // alert_a_rate3 : a3,
                place_id : placeId,
                //floor : floor,
                //number : number
            }),
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            alert("기기등록 했습니다.");
        }).catch(error => {
            console.log(error);
        });

        hideDeviceRegisterPopup(); // 팝업 닫기
    }

    function changeDeviceTable(place_id) {
        // id == 0 -> all
        fetch('/api/v1/device_list/' + place_id)
        .then((response) => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error("Failed to fetch data.");
            }
        })
        .then((data) => {
            deviceList = data;

            $("#table").html("");
            for(const device of deviceList) { 
                makeDeviceCell(device);
            }    
            if(intervalObject != null) {
                clearInterval(intervalObject);
            }
            intervalObject = setInterval(updateData, 30000);
            updateData();
        })
        .catch((error) => {
            console.log(error);
        });
    }

    $( window ).ready( function() {
        fetch("/api/v1/users/me", {
            method: "GET",
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("access_token"),
            },
        })
        .then((response) => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error("Failed to fetch data.");
            }
        })
        .then((json) => {
            $("#user_name").text(json.email);

            if(json.is_superuser != 1) {
                alert("접근 권한이 없습니다..");
                window.location.href = '/login';             
            }
        })
        .catch((error) => {
            alert("잘못된 접근입니다.");
            window.location.href = '/login';
        });


        // place list to combo box
        fetch("/api/v1/place_list")
        .then((response) => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error("Failed to fetch data.");
            }
        })
        .then((data) => {
            console.log(data);
            
            $("#place_select_combo").html("");
            $("#place_select_combo").append('<option value="0">전체</option>');
            for( var i = 0;i< data.length; i++) {
                $("#place_select_combo").append('<option value="'+ data[i].id +'">' + data[i].name + '</option>');
            }

    
        })
        .catch((error) => {
           
           
        });

        $('#place_select_combo').change(function() {
            var placeId = $("#place_select_combo option:selected").val();
            var text = $("#place_select_combo option:selected").text();
            $("#header-text").text(text);
            changeDeviceTable(placeId);
        });


        $('#device_register').click( function() {            
            showDeviceRegisterPopup();
        });

        $('#place_register').click( function() {            
            showPlaceRegisterPopup();
        });

        chartInit();
        changeDeviceTable(0);        
    });

</script>
</head>

<style>
    /* 팝업 레이아웃 스타일 */
    .popup {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 420px;
        height: 200px;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
    }
    .popup_input {
        width: 300px;
        height: 30px;
    }
</style>

<body>
    <header>
        <img style="margin-left:10px;" id="logo" src="https://via.placeholder.com/50x50">
        <div id="header-text">전체</div>

        <select id="place_select_combo" style="width : 180px; margin-left:auto;margin-right: auto;"></select>
        <div id="place_register" style="margin-right: 10px; cursor: pointer;">장소등록</div>
        <div id="device_register" style="margin-right: 10px; cursor: pointer;">기기등록</div>
        <div id="user_name" style="margin-right: 10px;">test이름</div>
    </header>

    <table>
        <thead>
            <tr>
                <th>설치 층 / 공조기 번호</th>
                <th>상태</th>
                <th>체널</th>
                <th>전압</th>
                <th>전류</th>
                <th>기준전류</th>
                <th>청소</th>
                <th>온도</th>
                <th>습도</th>
                <th>차압</th>
                <th>셋팅</th>
            </tr>
        </thead>
        <tbody id="table">
        </tbody>
    </table>

    <div id="drawer" class="closed">
        <span class="graph_title">전압 그래프</span>
        <div>
            <canvas class="chart" id="chart_v"></canvas>
        </div>
        <span class="graph_title">전류 그래프</span>
        <div>
            <canvas class="chart" id="chart_a"></canvas>
        </div>
    </div>

    <div class="popup" id="place_popup">
		<div class="popup-content">
			<!-- 팝업 내용 -->
            <div>
                <span style="display:inline">위치 이름 :</span>
			    <input style="display:inline; width : auto" type="text" id="place_name">
            </div>
			<div style="margin-top: 30px;">
                <button onclick="sendPlaceData()">추가</button>
			    <button onclick="hidePlaceRegisterPopup()">닫기</button>
            </div>
			
		</div>
	</div>


    <div class="popup" id="device_popup">
		<div class="popup-content">
			<!-- 팝업 내용 -->
            <div style="display: flex; flex-direction: row;">
                <div>
                    <span style="display:inline">디바이스 아이디 :</span>
                    <input class="popup_input" style="display:inline; width : auto" type="text" id="device_id" value="-1">
                </div>
    
                <div style="margin-left:10px">
                    <span style="display:inline">디바이스 이름 :</span>
                    <input class="popup_input" style="display:inline; width : auto" type="text" id="device_name" value="-1">
                </div>
            </div>
            
            <!-- <div style="display: flex; flex-direction: row;">
                <div>
                    <span style="display:inline">CH1 기준전류 :</span>
                    <input class="popup_input" style="display:inline; width : auto" type=number step=0.01 id="device_a1_rate" value="-1">
                </div>
                <div style="margin-left:10px">
                    <span style="display:inline">CH2 기준전류 :</span>
                    <input class="popup_input" style="display:inline; width : auto" type=number step=0.01 id="device_a2_rate"value="-1">
                </div>
            </div> -->

            <div style="display: flex; flex-direction: row;">
                <!-- <div>
                    <span style="display:inline">CH3 기준전류 :</span>
                    <input class="popup_input" style="display:inline; width : auto" type=number step=0.01 id="device_a3_rate"value="-1">
                </div> -->
                <div>
                    <span style="display:block;">디바이스 위치 :</span>
                    <div style="display:block; margin-left:0px;padding:0px" class="container">
                        <select id="device_place" style="width : 180px">
                            <!-- <option value="option-1">Option 1</option>
                            <option value="option-2">Option 2</option>
                            <option value="option-3">Option 3</option> -->
                        </select>
                    </div>
                </div>
                
            </div>

            <!-- <div style="display: flex; flex-direction: row;">
                <div>
                    <span style="display:inline">층 :</span>
                    <input class="popup_input" style="display:inline; width : auto" type="number" id="device_floor" value="-1">
                </div>
                <div style="margin-left:10px">
                    <span style="display:inline">공조기 번호 :</span>
                    <input class="popup_input" style="display:inline; width : auto" type="text" id="device_number" value="-1">
                </div>
            </div> -->
            
			<div style="margin-top: 30px;">
                <button onclick="sendDeviceData()">추가</button>
			    <button onclick="hideDeviceRegisterPopup()">닫기</button>
            </div>
			
		</div>
	</div>

</body>
</html>