<html>

<head>
    <title>AL-INK</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    
    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/bootstrap.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/main.css')}}" media="screen">
    <script src="{{ my_url_for(request, 'static', path='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/jquery.easing.min.js')}}"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<script type="text/javascript">

    //var ip = "localhost:8000";
    var ip = "43.201.100.68";
    
    // user state 
    // ID
    var user_name = "test name";
    var user_email = "test@test.com";
    var org = "org";
    var auth_level = 1;

    {% if user %}
        auth_level = {{ user }};
    {% else %}
        auth_level = 1;
    {% endif %}

    const deviceList = [
        {% for device in devices %}
            {id: {{ device.id }},name: "{{ device.name }}", status: "{{ device.status }}", 
            alert_v_rate1: {{ device.alert_v_rate1 }},alert_v_rate2: {{ device.alert_v_rate2 }},alert_v_rate3: {{ device.alert_v_rate3 }}, 
            alert_a_rate1: {{ device.alert_a_rate1 }},alert_a_rate2: {{ device.alert_a_rate2 }},alert_a_rate3: {{ device.alert_a_rate3 }}, 
            place_id : {{ device.place_id }}, floor : {{ device.floor }}, number : "{{ device.number }}"
        },
        {% endfor %}
    ];

    function getStateColor(error) {
        if (error != 0) {
            return "🔴";
        } else {
            return "🟢";
        }
    }

    function getCleanStateColor(base, current) {
        if (base < current) {
            return "🟠";
        } else {
            return "🟢";
        }
    }


    var chartDateArray = [];
    
    // 관리자 인지 판단하기.
    var lineChartV;
    var lineChartA;

    function chartInit() {
        var ctx = document.getElementById('chart_v');
        lineChartV = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'CH1',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH2',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH3',
                    data: [],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        align: 'start'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return chartDateArray[context.dataIndex];
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        display: false // x축 라벨 비활성화
                    }
                }
            }
        });

        var ctx = document.getElementById('chart_a');
        lineChartA = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'CH1',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH2',
                    data: [],
                    borderWidth: 1
                },{
                    label: 'CH3',
                    data: [],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        align: 'start'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return chartDateArray[context.dataIndex];
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        display: false // x축 라벨 비활성화
                    }
                }
            }
        });
    }

    function drawLineChart(chart, array1, array2, array3) {
        //console.log(lineChartV1);
        chart.data.labels = array1;
        chart.data.datasets[0].data = array1;
        chart.data.datasets[1].data = array2;
        chart.data.datasets[2].data = array3;
        
        chart.update();
    }


    function makeDeviceCell(device) {
        var cell = 
        `<tr>
            <td rowspan='3'><div><div>${device.floor}층 - ${device.number}</div><button style="margin-top:10px" id="graph_button_${device.id}" type="submit" class="btn btn-primary">그래프 보기</button></div></td>
            <td id="${device.id}_1_state">🟢</td>
            <td>CH1</td>
            <td id="${device.id}_1_v"></td>
            <!-- <td><input type="number" name="edittext" id="${device.id}_1_bv" value="${device.alert_v_rate1}"> kV</td> -->
            <td id="${device.id}_1_a"></td>
            <td>${device.alert_a_rate1}mA</td>

            <td id="${device.id}_1_clean_state">🟢</td>
            <td rowspan='3'></td>
            <td rowspan='3'></td>
            <td rowspan='3'></td>
            
        </tr>
        <tr>
            <td id="${device.id}_2_state">🟢</td>
            <td>CH2</td>
            <td id="${device.id}_2_v"></td>
            <!-- <td><input type="number" name="edittext" id="${device.id}_2_bv" value="${device.alert_v_rate2}"> kV</td> -->
            <td id="${device.id}_2_a"></td>
            <td>${device.alert_a_rate2}mA</td>

            <td id="${device.id}_2_clean_state">🟢</td>
            
        </tr>
        <tr>
            <td id="${device.id}_3_state">🟢</td>
            <td>CH3</td>
            <td id="${device.id}_3_v"></td>
            <!-- <td><input type="number" name="edittext" id="${device.id}_3_bv" value="${device.alert_v_rate3}"> kV</td> -->
            <td id="${device.id}_3_a"></td>
            <td>${device.alert_a_rate3}mA</td>

            <td id="${device.id}_3_clean_state">🟢</td>
            
        </tr>`

        $("#table").append(cell);

        $("#graph_button_" + device.id).click( function() {
            const drawer = $('#drawer');
            drawer.toggleClass('open');
            drawer.toggleClass('closed'); 
            
            if(drawer.hasClass('open')) {
                var url = 'http://'+ip+'/api/v1/chart/' + device.id;

                fetch(url).then(response => {
                    if (!response.ok) {
                      throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).then(data => {
                    var list = data;
                    var v1Array = [];
                    var v2Array = [];
                    var v3Array = [];

                    var a1Array = [];
                    var a2Array = [];
                    var a3Array = [];

                    chartDateArray = [];
                    
                    for (var i = 0; i<list.length;i++) {
                        v1Array.unshift(list[i].v1 != null ? list[i].v1 : 0);
                        v2Array.unshift(list[i].v2 != null ? list[i].v2 : 0);
                        v3Array.unshift(list[i].v3 != null ? list[i].v3 : 0);

                        a1Array.unshift(list[i].a1 != null ? list[i].a1 : 0);
                        a2Array.unshift(list[i].a2 != null ? list[i].a2 : 0);
                        a3Array.unshift(list[i].a3 != null ? list[i].a3 : 0);

                        chartDateArray.unshift(list[i].timestamp != null ? list[i].timestamp : 0);
                    }

                    drawLineChart(lineChartV, v1Array,v2Array,v3Array);
                    drawLineChart(lineChartA, a1Array,a2Array,a3Array);
                    
                }).catch(error => {
                    console.log(error);
                });
            }
        });

        
    }

    function updateData() {
        for(const device of deviceList) { 
            var url = 'http://'+ip+'/api/v1/update_data/' + device.id;

            fetch(url).then(response => {
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                return response.json();
              }).then(data => {
                if(data == null) return;
                var id = data.did;
                
                $("#" + id + "_1_v").text(data.v1/1000 + "kV");
                $("#" + id + "_2_v").text(data.v2/1000 + "kV");
                $("#" + id + "_3_v").text(data.v3/1000 + "kV");

                $("#" + id + "_1_a").text(data.c1/1000 + "mA");
                $("#" + id + "_2_a").text(data.c2/1000 + "mA");
                $("#" + id + "_3_a").text(data.c3/1000 + "mA");

                console.log(data.e1 + " " +data.e2+ " " +data.e3);
                $("#" + id + "_1_state").text(getStateColor(data.e1));
                $("#" + id + "_2_state").text(getStateColor(data.e2));
                $("#" + id + "_3_state").text(getStateColor(data.e3));

                //console.log(device.alert_v_rate1 + " " + data.value.v1/1000);
                $("#" + id + "_1_clean_state").text(getCleanStateColor(device.alert_a_rate1, data.c1/1000));
                $("#" + id + "_2_clean_state").text(getCleanStateColor(device.alert_a_rate2, data.c2/1000));
                $("#" + id + "_3_clean_state").text(getCleanStateColor(device.alert_a_rate3, data.c3/1000));
              }).catch(error => {
                console.log(error);
              });
        }
        //${device.id}_1_v
    }
    $( window ).ready( function() {
        fetch("/api/v1/users/me", {
            method: "GET",
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("access_token"),
            },
        })
        .then((response) => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error("Failed to fetch data.");
            }
        })
        .then((json) => {
            //alert(json);
            console.log(json);
            $("#user_name").text(json.email);
        })
        .catch((error) => {
            alert("잘못된 접근입니다.");
            window.location.href = '/login';
        });


        $("#user_name").text(user_name);

        $('#device_register').click( function() {            
            alert("device register");
        });
        $("#table").html("");
        for(const device of deviceList) { 
            makeDeviceCell(device);
        }
        chartInit();

        setInterval(updateData, 30000);
        updateData();
        
    });

</script>
</head>
<body>
    <header>
        <img style="margin-left:10px;" id="logo" src="https://via.placeholder.com/50x50">
        <div id="header-text">YB 빌딩</div>
        <div id="user_name" style="margin-right: 10px;">test이름</div>
    </header>
    <table>
        <thead>
            <tr>
                <th>설치 층 / 공조기 번호</th>
                <th>상태</th>
                <th>체널</th>
                <th>전압</th>
                <th>전류</th>
                <th>기준전류</th>
                <th>청소</th>
                <th>온도</th>
                <th>습도</th>
                <th>차압</th>

            </tr>
        </thead>
        <tbody id="table">
        </tbody>
    </table>

    <div id="drawer" class="closed">
        <span class="graph_title">전압 그래프</span>
        <div>
            <canvas class="chart" id="chart_v"></canvas>
        </div>
        <span class="graph_title">전류 그래프</span>
        <div>
            <canvas class="chart" id="chart_a"></canvas>
        </div>
    </div>

</body>
</html>